/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
.container {
	width: 1000px;
	margin: auto;
	padding: 50px;
	border: 1px solid gray;
}

header nav {
	display: inline-block;
	margin-top: 35px;
}

header nav a {
	padding-right: 65px;
	color: gray;
}

body p.get-started {
	border: 1px solid black;
	width: 200px;
	text-align: center;
	padding: 10px;
	margin-left: 118px;
}

body img.round-img {
	display: inline-block;
	padding-left: 120px;
}

body h1 {
	text-align: center;
	font-size: 72px;
	padding-left: 70px;
	display: inline-block;
	padding-top: 50px;
}

.top-image {
	display: inline-block;
}

body section div {
	display: inline-block;
	margin-bottom: 80px;
	vertical-align: middle;
	padding-top: 50px;
}

body section.first-section {
	border-bottom: 1px solid black;
}

body section.first-content div {
	margin-top: 0;
	display: inline-block;
	width: 49%;
	height: 80px;
	line-height: 18px;
}

body h2 {
	padding-top: 5px;
}

body img.middle-img {
	margin: 30px 0;
}

body section.second-content div {
	display: inline-block;
	width: 32%;
	height: 195px;
	line-height: 18px;
	margin: 0;
	padding: 0;
}

body section.second-content {
	border-bottom: 1px solid black;
}

body section.contact-info h2 {
	padding-top: 30px;
	margin-bottom: 0;
}

body section.contact-info p {
	padding: 10px 0;
}

body section.contact-info p.copyright {
	text-align: center;
	padding-top: 40px;
}